body {
    background-color: rgb(228, 228, 228);
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--WAKqnINn--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/tw0nawnvo0zpgm5nx4fp.png");
}

.background{
    background-color: rgb(18, 140, 126);
    height: 20rem;
    margin: -40;
}


.my_form {
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 0.5cm;
    width: 200px;
    padding: 2rem;
    width: 700px;
    margin-top: -150px;
}

.center {
    position: relative;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.margin_left {
    margin-left: 15rem;
}


.webButton {
    background-color: rgb(18, 140, 126);
    color: white;
}
.webButton:hover {
    background-color: rgb(73, 200, 88);
    color: white;
}

.title {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial;
    padding-bottom: 2rem;
}

.logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13%;
}

.main_box {
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 0.5cm;
    width: 100rem;
    height: 55rem;
    margin-top: -150px;
}


.one{
    background-color: red;
    height: 5rem;
}
.two{
    background-color: green;
}
.three{
    background-color: blue;
    height: 50rem;
}
.four{
    background-color: pink;
}

ul {
    overflow-y: scroll;
    height: 100%;
}