body {
    background-color: rgb(228, 228, 228);
}

.background{
    background-color: rgb(4, 155, 4);
    height: 20rem;
    margin: -40;
}
form {
    background-color: rgb(245, 245, 245);
    width: 200px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.login_form {
    width: 700px;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: -150px;
}

.margin_left {
    margin-left: 10rem;
}